<!--listings/templates/listings/base.html-->
{% load static %}
<html>
    <head><title>Merchex</title></head>
    <link rel="stylesheet" href="{% static 'listings/style.css'%}" />
    
    <body>
        <nav>
            <ol>
                <li><a href="{% url 'band-list' %}">Groupes</a></li>
                <li><a href="{% url 'listing-list' %}">Listing</a></li>
                <li><a href="{% url 'A propos' %}">A propos</a></li>
                <li><a href="{% url 'contact' %}">Contactez nous</a></li>
            </ol>
            
            
        </nav>
        {% block content %}{% endblock %}

    </body>
</html>